@model Snap_Bank.ViewModel.ForgetPasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/ForgetPassword.css")" rel="stylesheet" type="text/css" />
}

<div class="pt-5 wrap-div">
    <div class="card border-0 shadow main-card">
        <div class="card-body">
            @using (Html.BeginForm("ChangePassword", "Login"))
            {
                <div class="m-3">
                    <label for="floatingTextarea">Password</label>
                    @Html.EditorFor(model => model.newPasswords.password, new { htmlAttributes = new { @class = "form-control form-control-md" } })
                    @Html.ValidationMessageFor(model => model.newPasswords.password, "", new { Type = "password", @class = "text-danger" })
                </div>
                <div class="m-3">
                    <label for="floatingTextarea"> confirm Password</label>
                    @Html.EditorFor(model => model.newPasswords.confirmpassword, new { htmlAttributes = new { @class = "form-control form-control-md" } })
                    @Html.ValidationMessageFor(model => model.newPasswords.confirmpassword, "", new { Type = "password", @class = "text-danger" })

                </div>
                @Html.HiddenFor(model => model.newPasswords.username)
                <div class="text-center mt-4 mb-2 d-flex flex-row-reverse mx-5">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>
            }
        </div>
    </div>
</div>

