@model IEnumerable<Snap_Bank.Models.Transactions>

@using GridMvc.Html
@{
    ViewBag.Title = "AccountActivity";
}
@section AddToHead
{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="@Url.Content("~/Content/AccountActivity.css")" rel="stylesheet" type="text/css" />
}
<div class="row">
    <div class="col-1 col-sm-1 col-md-1">
        <div class="sidebar">
            <div class="ImageContainer">
                <img src="~/images/family icon.png" alt="family image" />
                <div class="logoText">SNAP BANK</div>
            </div>
            <div class="buttons">
                <a class="active" href="/Snap/Home">
                    <img src="~/Images/home.png" alt="" />
                </a>
                <a class="active" href="/Snap/Support/">
                    <img src="~/Images/support.png" alt="" />
                </a>
                <a class="active" href="/Login/Signin">
                    <img src="~/Images/log-out.png" alt="" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-11 col-md-11 col-sm-11 mt-5">
        <div class="card main-card border-2" style="background-color: #f1f1f1;">
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="d-flex justify-content-right mt-5 h2">
                        ACCOUNT ACTIVITY
                    </div>
                    <div class="d-flex justify-content-center mt-5 h4">
                        <input type="radio" class="m-2" name="account" id="account" value="Savings" onclick="GetTransferDetailes(this.value)">
                        SAVINGS ACCOUNT
                        <input type="radio" class="m-2" name="account" id="account" value="Current" onclick="GetTransferDetailes(this.value)">
                        CURRENT ACCOUNT
                    </div>

                    <div class="d-flex justify-content-around mt-5 row">
                        <div class="col-4">
                            <p class="h5">CLOSING BALANCE: <b> £31,142</b></p>
                        </div>
                        <div class="col-8 row">
                            <div class="col-3" style="margin-left: 0%; padding-left:0%;">
                                <select class="form-select" onchange="hideShowRangePicker(this.value)">
                                    <option selected>Choose Dates </option>
                                    <option value="last week">last week</option>
                                    <option value="2">last 2 weeks</option>
                                    <option value="3">last month</option>
                                    <option value="4">Custom Date</option>
                                </select>
                            </div>
                            <div class="datePicker col-7" id="dataPicker" style="display: none;">
                                <div class="row">
                                    <input class="col-5 form-control form-control-md" style="width: 175px" type="date" name="toDate" />
                                    <label class="col-2">
                                        <img style="width: 40px;" src="~/Images/double-arrow.png" alt="">
                                    </label>
                                    <input class="col-5 form-control form-control-md" style="width: 175px;" type="date" name="toDate" />
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-outline-primary" type="button">Select</button>
                            </div>
                        </div>
                    </div>
                    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
                    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
                    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
                    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

                    <div class="code-cut">
                        @Html.Grid(Model).Columns(columns =>
                        {

                        columns.Add(c => c.AccountNumber).Titled("AccountNumber");
                        columns.Add(c => c.ToAccount).Titled("ToAccount");
                        columns.Add(c => c.TransactionDate).Titled("TransactionDate");
                        columns.Add(c => c.Amount).Titled("Amount");
                        columns.Add(c => c.TransactionCompleted).Titled("TransactionCompleted");
                        columns.Add(c => c.TransactionType).Titled("TransactionType");

                        }).WithPaging(6).Sortable(true)
                    </div>
                    <button type="button" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem">
                        PRINT
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function hideShowRangePicker(e) {
        //dataPicker
        if (e == 4) {
            document.getElementById("dataPicker").style.display = "block";
        } else {
            document.getElementById("dataPicker").style.display = "none";
        }
    }
</script>