@model Snap_Bank.ViewModel.SettingsModel
@{
    ViewBag.Title = "Settings";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Settings.css")" rel="stylesheet" type="text/css" />
}

<div class="row d-flex">
    <div class="col-1 col-sm-1 col-md-1">
        <div class="sidebar">
            <div class="imageContainer">
                <img src="~/Images/family icon.png" alt="family image" />
                <div class="logoText">SNAP BANK</div>
            </div>
            <div class="buttons">
                <a class="active" href="/Snap/Home">
                    <img src="~/Images/home.png" alt="" />
                </a>
                <a class="active" href="/Snap/Support/">
                    <img src="~/Images/support.png" alt="" />
                </a>
                <a class="active" href="/Login/Signin/">
                    <img src="~/Images/log-out.png" alt="" onclick="ClearSessions()" />
                </a>
                <script>
                    function ClearSessions() {
                        sessionStorage.clear();
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="col-11 col-md-11 col-sm-11" style="padding: 3% 5% 2% 5%;">
        <div class="pt-3 wrap-div">
            <div class="card border-0 shadow main-card">
                <div class="card border-0" style="background-color: #f1f1f1;">
                    <div class="card-body">
                        <div class="text-center mb-5 mt-5">
                            <img class="user-image" src="~/Images/user.png" alt="" />
                            <h2>USER NAME</h2>
                        </div>

                        @using (Html.BeginForm("UpdatePassword", "Snap", FormMethod.Post))
                        {
                            <div class="m-4">
                                <label for="floatingTextarea">Password</label>
                                @*<input type="password" name="" id="" class="form-control mt-1" />*@

                                @Html.EditorFor(model => model.changePassword.password, new { htmlAttributes = new { Type = "password", @class = "form-control form-control-md" } })
                                @Html.ValidationMessageFor(model => model.changePassword.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="m-4">
                                <label for="floatingTextarea">Confirm Password</label>
                                @*<input type="password" name="" id="" class="form-control mt-1" />*@

                                @Html.EditorFor(model => model.changePassword.confirmpassword, new { htmlAttributes = new { Type = "password", @class = "form-control form-control-md" } })
                                @Html.ValidationMessageFor(model => model.changePassword.confirmpassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="d-flex flex-row-reverse">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mx-5">
                                        Change password
                                    </button>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("UpdateDetails", "Snap", FormMethod.Post))
                        {
                            <div class="m-4">
                                <label for="floatingTextarea">Email Id</label>
                                @*<input type="email" name="" id="" class="form-control mt-1" />*@

                                @Html.EditorFor(model => model.changedetailes.email, new { htmlAttributes = new { @class = "form-control form-control-md" } })
                                @Html.ValidationMessageFor(model => model.changedetailes.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="m-4">
                                <label for="floatingTextarea"> Phone number</label>
                                @*<input type="number" name="" id="" class="form-control mt-1" />*@

                                @Html.EditorFor(model => model.changedetailes.phonenumber, new { htmlAttributes = new { @class = "form-control form-control-md" } })
                                @Html.ValidationMessageFor(model => model.changedetailes.phonenumber, "", new { @class = "text-danger" })
                            </div>

                            <div class="text-center mt-4 mb-2 d-flex flex-row-reverse mx-5">
                                <button class="btn btn-primary mb-3">change details</button>
                            </div>
                        }

                        @using (Html.BeginForm("AddAnotherAccount", "snap", FormMethod.Post))
                        {
                            <div class="text-center mt-4 mb-2 mx-2" id="addaccount">
                                <button type="submit" class="btn btn-secondary mb-3">Add @ViewBag.AccountType</button>
                            </div>
                        }
                        <script>
                            if (document.getElementById('addaccount').innerText == "Add")
                                document.getElementById('addaccount').style.display = 'none';
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>